<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Library Store</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class='bg-light'>

<div class="container py-4">
  <h2 class="mb-4 text-center">Employee List</h2>
  <a href="{% url 'add'%}" class="btn btn-success mb-3">+ Add Employee</a>

  <input type="text" id="searchInput" class="form-control mb-4" placeholder="Search by name, occupation, or gender...">

  <div class="row">

    {% for emp in page_obj %}



    <!-- Book 2 -->
    <div class="col-md-4 mb-4 emp-card">

      <div class="card h-100">
        
        <div class="card-body">
          <h5 class="card-title">{{ emp.name }}</h5>
          <p class="card-text">Age: {{ emp.age }}</p>
          <p class="card-text">Gender: {{ emp.gender }}</p>
          <p class="card-text">Occupation: {{ emp.occupation }}</p>
          <p class="card-text">DOB: {{ emp.dob }}</p>
          <p class="card-text">Leave Taken: {{ emp.leave_taken }}</p>
          <p class="card-text">Allocated Salary: ₹{{ emp.allocated_salary }}</p>
          <p class="card-text">Current Salary: ₹{{ emp.current_salary }}</p>
          <a href="{% url 'up' emp.id%}" class="btn btn-warning btn-sm">Edit</a>
          <a href="{% url 'dlt' emp.id%}" onclick="return confirm('Are you sure you want to delete this employee?');" 
          class="btn btn-danger btn-sm">Delete</a>
        </div>
      </div>
    </div> 

    {% endfor %}
  </div> 
</div> 


<nav>
  <ul class="pagination justify-content-center">
    {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page=1"> First</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
      </li>
    {% endif %}

    <li class="page-item active">
      <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li>

    {% if page_obj.has_next %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
      </li>
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last </a>
      </li>
    {% endif %}
  </ul>
</nav>

{% comment %} <nav>
  <ul class="pagination justify-content-center">

    <li class="page-item">
      <a class="page-link" href="?page=1"> First</a>
    </li>

    <li class="page-item active">
      <a class="page-link" href="#">{{ page_obj.number }}</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
    </li>

    <li class="page-item">
      <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Last </a>
    </li>

  </ul>
</nav> {% endcomment %}

<script>
  document.getElementById("searchInput").addEventListener("keyup", function () {
    const searchValue = this.value.toLowerCase();
    const cards = document.querySelectorAll(".emp-card");

    cards.forEach(card => {
      const text = card.innerText.toLowerCase();
      if (text.includes(searchValue)) {
        card.style.display = "block";
      } else {
        card.style.display = "none";
      }
    });
  });
</script>



</body>
</html>
